domain: rizon.net
check:
- na.iso.rizon.net
- eu.iso.rizon.net
- us.iso.rizon.net
- ca.iso.rizon.net
- nl.iso.rizon.net
- fr.iso.rizon.net
- de.iso.rizon.net

servers:
- server: irc.rizon.net
  ip: 192.168.0.1
  ip6: ::1

reconnect: true
messages: true
port: 27888

split_emails: [adam@rizon.net]