# IP and port for the commit push server to listen on
ip: 192.168.1.101
port: 8081

# Channel to report commits to, mapped from repo to list of channels.
# A repository is for example:
# https://gitlab.com/rizon/plexus4
# where "plexus4" is the repository name that should be filled in below.
channels:
 - repositories: ["plexus4"]
   channels: ["#dev"]
 - repositories: ["moo"]
   channels: ["#develop"]

# default channels, in case repo isn't in map above
defaultChannels: ["#d"]
